body {
    background-color: #f5f5f5;
  }

  hr {
    /*height od ove linije nam je nula*/
    /* background-color: white; */
    /*stavljamo da nema stila oko boxa pa cemo ispod dodati samo gornji....*/
    border-style: none;
    /* dodajemo samo gornji stil kutiji*/
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;

  }
  img {
    height: 60%;
  }

  h1, h3 {
      color: #66BFBF;
  }