body {
    /* sve 4 strane margina su NULA */
    margin: 0;
}

h1 {
    margin-top: 0px;
}


.top-container {
    background-color: #e4f9f5;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: chocolate;
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: darkgreen;
}

.pro {
    text-decoration: underline;
}